<!-- ==============================================
		FOOTER
		=============================================== -->	
		<footer id="main-footer">		
			<div class="container">			
				<div class="row">				
<!-- <div class="col-sm-6 left-col">
						<h1 class="small-logo">Asim Habib<br><span>Web Designer & Developer</span></h1>
						<ul class="footer-nav">
							<li><a class="scrollto" href="#home">Home</a></li>
							<li><a class="scrollto" href="#portfolio">Portfolio</a></li>
							<li><a class="scrollto" href="#contact">Contact</a></li>
						</ul>						
					</div>-->

          <div class="col-sm-5 contact-info left-col">						
					<!--	<ul class="socials">
							<li><a href="https://www.linkedin.com/in/asimhabib/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://github.com/AsimHabib/" target="_blank"><i class="fa fa-github"></i></a></li>
							<li><a href="#facebook-link"><i class="fa fa-facebook"></i></a></li>
						</ul>	-->
            <ul class="list-inline socials">
              <li><a href="https://www.linkedin.com/in/asimhabib/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://github.com/AsimHabib/" target="_blank"><i class="fa fa-github"></i></a></li>
							<li><a href="#facebook-link"><i class="fa fa-facebook"></i></a></li>
            </ul>		
           	<address>
							Asim Habib<br>							
							Barrie, ON Canada<br>
							<a href="mailto:asimhabib2@gmail.com" style="color:#fff;">asimhabib2@gmail.com</a><br>							
						</address>			
					</div>	

				</div><!-- ./row -->				
			</div><!--  ./container -->			
		</footer><!-- #/main-footer -->

		<!-- ==============================================
		SCRIPTS
		=============================================== -->	
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='./Scripts/lib/jquery.scrollto.js'></script>
  <script src="./javascripts/jquery.backstretch.min.js"></script>
  <script src="./javascripts/main.js"></script>  
</body>	
</html>