body {
  padding: 50px;
  font-family: "Open Sans", Lucida Grande, Helvetica, Arial, sans-serif; ;
  color: #999;
}

a, h1, h2 {
  color: #00B7FF;
}

footer > .container{
  padding: 12px 15px;
  height: 60px;
  background-color: #f5f5f5;
}