<% include ../partials/header.ejs %>

    <!-- ==============================================
    Projects section
    =============================================== -->	
<section  id="portfolio" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">					
                <h1 class="section-title">The <span>work</span> I've done</h1>								
            </div>
        </div><!-- ./row -->
    </div><!-- ./container -->

<div class="container">
    <div class="row">
        <!-- Project 1-->
        <div class="col-md-4">
            <article>
                <figure>
                    <img src="./images/p1.jpg" alt="php CMS" img="img-responsive" />
                </figure>
                <h3><a href="#">Php/MySql CMS</a></h3>
                <p>As a college project design and developed the database driven Php/MySql application</p>
                <p><small><em>Skills and technology used: Php,MySql,Bootstrap html, css</em></small></p>
                <a href="http://gc200305897.computerstudi.es/php/assign02/" class="btn btn-info btn-xs" target="_blank">visit the website</a>
            </article>
        </div>
            <!-- Project 2 -->
        <div class="col-md-4">
            <article>
                <figure>
                    <img src="./images/p2.jpg" alt="chocolate kingdom" img="img-responsive" />
                </figure>
                <h3><a href="#">Chocolate Kingdom</a></h3>
                <p>Designed the complete website layout based on the provided specification and deployed the site on the server.</p>
                <p><small><em>Skills and technology used: html, css, jquery, photoshop</em></small></p>						
                <a href="http://www.chocolatekingdom.com/" class="btn btn-info btn-xs" target="_blank">visit the website</a>
            </article>
        </div>
            <!-- Project 3 -->
        <div class="col-md-4">
            <article>
                <figure>
                    <img src="./images/p3.jpg" alt="autobox" img="img-responsive" />
                </figure>
                <h3><a href="#">Bootstrap Responsive Website</a></h3>
                <p>As a college project design and developed the responsive website with bootstrap.</p>
                <p><small><em>Skills and technology used: html, css, jquery, photoshop, bootstrap</em></small></p>						
                <a href="http://gc200305897.computerstudi.es/COMP2081/project/" class="btn btn-info btn-xs" target="_blank">visit the website</a>					
            </article>
        </div>
    </div><!--/.row -->
</div><!-- /.container -->
</section><!--Section Ends -->


<% include ../partials/footer.ejs %>