<% include ../partials/header.ejs %>

<!-- ==============================================
Service section
=============================================== -->	
<section  id="service" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">					
                <h1 class="section-title">the <span>services</span> i can offer</h1>								
            </div>
        </div><!-- ./row -->
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 ">
                <i class="fa fa-object-group" aria-hidden="true"></i>
                <!-- <img class="img-responsive img-circle img-center" src="./images/about.jpg" alt="Asim Habib">-->
            </div>
            <div class="col-sm-8 ">	
                <h3>Web Design</h3>
				<p>I design user friendly and responsive websites.</p>
				<h3>Web Development</h3>
				<p>I delope the website application using the latest technologies.</p>
				<h3>E-commerce</h3>
				<p>I also provide the services to design and develope website that has the shopping cart functionality.</p>			                
            </div>
        </div><!--End row -->
    </div><!-- ./container -->
</section>

<% include ../partials/footer.ejs %>