<% include ../partials/header.ejs %>

<!-- ==============================================
Service section
=============================================== -->	
<section  id="service" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">					
                <h1 class="section-title">the <span>services</span> i can offer</h1>								
            </div>
        </div><!-- ./row -->
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 ">
                <img class="img-responsive img-circle img-center" src="./images/about.jpg" alt="Asim Habib">
            </div>
            <div class="col-sm-8 ">				
                <p>I'm skilled in area of web design and development with Computer Science educational background. Easy to work with and don't stop till it is almost perfect. I'm tech mixologist and able to combine all the ingredient whether it involves front end like HTML, CSS, JavaScript, Bootstrap or backend technologies like Php, MySQL and Asp.Net to comeup with awesome recipe for clean, professional, functional websites. I'm also not shy to work with CMS integration and e-commerce solutions like Wordpress, Joomla, OpenCart and Shopify. Constantly learning web technologies and other design related topics, currently playing around with Node JS and Express JS. 
                Some of my skills include:
                </p>
                <ul>
                    <li class="list-unstyled">Some of my skills include:</li>							
                    <li>HTML5, CSS3, JavaScript, JQuery</li>
                    <li>Responsive Web Design, Bootstrap</li>
                    <li>Open source CMS  Wordpress and Joomla</li>
                    <li>Shopify E-commerce platform</li>
                    <li>Php, MySQL</li>
                    <li>Asp.net, C#, SQL</li>
                    <li>Photoshop, Illustrator</li>	
                </ul>
            </div>
        </div><!--End row -->
    </div><!-- ./container -->
</section>

<% include ../partials/footer.ejs %>